name: Build

on:
  push:
    branches:
      - "master"
      
jobs:
  buildlinux:
    name: Linux arm64
    runs-on: ubuntu-22.04

    steps:
      - name: Install ARM64 toolchain
        run: sudo apt-get install -y gcc-aarch64-linux-gnu

      - name: Build for ARM64
        run: |
            mkdir build
            cd build
            CC=aarch64-linux-gnu-gcc cmake ..
            make

      - name: Create GitHub Release
        uses: actions/create-release@v1
        with:
          tag_name: v1.0.0  # 替换为你的版本号
          release_name: "Release v1.0.0"
          body: "This is the first release."
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Upload to Release
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./path/to/your/application
          asset_name: compiled-application-arm64
          asset_content_type: application/octet-stream

          
